:root {
    --main-color: #212121;
    --second-color: #757575;
    --change-color: #2196F3;
    --black-color: #000000;
    --White-color: #ffffff;
    --background-hero: #2F303A;
    --corol-button: #F5F4FA;
    --background-buttom: #188CE8;
}

/* GENERAL STYLES */

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--White-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.first-part {
    color: var(--change-color)
}

.last-part {
    color: var(--black-color)
}

.list {
    background-color: var(--White-color);
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--change-color)
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.header-mail-link,
.header-tel-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-color)
}


/* Hero */

.section-hero {
    background: var(--background-hero);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    color: var(--White-color);
    text-transform: uppercase;
}

.button-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--White-color);
    background: var(--change-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus {
    cursor: pointer;
    color: var(--White-color);
    background: var(--background-buttom);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Особливості */

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color)
}

.peculiarities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--second-color)
}

/* Наша команда */

.section-tem {
    background-color: var(--corol-button);
}

.section-list li {
    background-color: var(--White-color);
    list-style: none;
}

.about-team {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--main-color)
}

.about-position {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--second-color)
}

/* Фильтр работ */

.button {
    color: var(--corol-button);
    background: transparent;
    list-style: none;
}

.botton-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--corol-button);
    border: 0;
}

.botton-type:hover,
.botton-type:focus {
    cursor: pointer;
    color: var(--White-color);
    background: var(--change-color)
}

/* Портфолио */

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/* Контакты */

.footer-list {
    background-color: var(--background-hero)
}

.last-part-footer {
    color: var(--White-color)
}

.adress-list {
    list-style: none;
}

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--White-color);
    text-decoration: none;
}

.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* end_css */